/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { 
  font-family: Arial, sans-serif;
}

/* Top Bar */
.top-bar {
  background-color: #f53d2d;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.bi-bell{  margin-right: 6px;}

.bi-question-circle{

   margin-right: 6px;
}

.top-bar a {
  margin-right: 15px;
  text-decoration: none;
  color: #ffffff;
}

.top-left {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.social-text {
  color: white;
  font-size: 12px;
}

.social {
  display: flex;
  align-items: center;
  gap: 8px; /* espaçamento entre ícones */
}

.social i {
  font-size: 18px;
  color: white;
}
/* Navbar */
.navbar {
  background-color: #f53d2d;
  color: white;
  padding: 15px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;




}

.language-select {
  background: #f53d2d;
  color: white;
  border: none;
  font-size: 12px;
  cursor: pointer;
  margin-right: 15px;
}
.language-select option {
  color: black; /* Para dentro do dropdown */
}

.navbar-center {
  flex: 1;
  justify-content: center;
}


.navbar-left,
.navbar-center,
.navbar-right {
  display: flex;
  align-items: center;
}


 .social {font-size: 20px;
  color: white;
  margin-left: 8px;}


.navbar .logo {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500; /* 400 para mais fino ainda */
  font-size: 30px;
}
.search-container {
  display: flex;
  width: 100%;
  max-width: 1000px;
  height: 38px;
  border: 1px solid #ccc;
  border-radius: 2px;
  overflow: hidden;
  background: white;}

.search-bar {
  flex: 1;
  border: none;
  padding: 0 10px;
  font-size: 14px;
  outline: none;
}



.search-button {
  background-color: #f53d2d;
  border: none;
  color: white;
  padding: 0 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}


.bi-search {
  background-color: #f53d2d;
  border: none;
  color: white;
  padding: 0 15px;
  cursor: pointer;
  font-size: 16px;
}

.bi-search i {
  pointer-events: none;
}


.bi-cart {
  font-size: 30px;
}

/* Título da seção */
.section-title {
  text-align: center;
  margin: 20px 0;
  font-size: 20px;
  color: #f53d2d;
}

/* Grid de produtos */
.product-grid {
  display: grid;
grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
max-width: calc(160px * 6 + 20px * 5); /* largura máxima = 6 cards + 5 gaps */
margin: 0 auto;
  gap: 20px;
  padding: 0 20px 40px;
  max-width: 1280px;

  
}

.product-card {
  background: white;
  border: 1px solid #eee;
  border-radius: 8px;
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 300px; /* define altura total do card */
}

.product-card:hover {
  transform: scale(1.03);
}

.product-card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  flex-grow: 1; /* imagem cresce até onde puder */
}

.product-title {
  font-size: 14px;
  margin-bottom: 5px;
}

.price {
  color: #f53d2d;
  font-weight: bold;
}

/* Footer */
.footer {
  width: 100%;
  background-color: #fff;
  padding: 20px 40px;
  font-size: 12px;
  color: #555;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 6px solid black;
  box-sizing: border-box;
  flex-wrap: wrap;
  gap: 10px;
}

.footer a {
  color: #666;
  text-decoration: none;
  margin: 0 3px;
  text-align: right;
  flex: 1;
}

.footer a:hover {
  text-decoration: underline;
}

.footer-left {
  flex: 1;
  color: #888;
  min-width: 200px;
}

.footer-center {
  flex: 2;
  text-align: right;
  min-width: 300px;
}

hr {
  border: none;
  height: 4px;
  background-color: #f53d2d;
  margin: 20px 0;
}

